{% assign current_category = page.categories[0] %}
{% assign category_posts_unsorted = site.categories[current_category] %}
{% if category_posts_unsorted %}
  {% assign category_posts = category_posts_unsorted | sort: "date" %}
  {% assign index = 0 %}

  {% for post in category_posts %}
    {% if post.url == page.url %}
      {% break %}
    {% endif %}
    {% assign index = index | plus: 1 %}
  {% endfor %}

  <nav class="pagination">
    <ul>
      {% if index > 0 %}
        {% assign previous_post = category_posts[index | minus: 1] %}
        <li class="prev">
          <a href="{{ previous_post.url | relative_url }}" rel="prev">
            ← {% if page.lang == "ko" %}이전 글{% else %}Previous{% endif %}: {{ previous_post.title }}
          </a>
        </li>
      {% endif %}

      {% if index < category_posts.size | minus: 1 %}
        {% assign next_post = category_posts[index | plus: 1] %}
        <li class="next">
          <a href="{{ next_post.url | relative_url }}" rel="next">
            {% if page.lang == "ko" %}다음 글{% else %}Next{% endif %}: {{ next_post.title }} →
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
