{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="btn">이전</a>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    <a href="{{ paginator.paginate_path | replace: ':num', page }}" class="btn">
      {{ page }}
    </a>
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="btn">다음</a>
  {% endif %}
</div>
